

// brand colors
$primary-color: #0080ff;
$secondary-color: #707070;
$accent-color: #BC00DE;

// Other colors
$txt-color-light: #272727;
$white-color: #ffffff;
$link-color: #707070;
$heading-color: #444444;
$div-color: #f8f8f8;
$div-bg-color: #eeeeee;


// font weights
$font-weight: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

// 

